name: Build

on:
  push:
    branches: [master, dev]
  pull_request:
    branches: [master, dev]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.15.0]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install
      - name: Run Game Mock Tests
        run: yarn test
        env:
          MNEMONIC: ${{ secrets.MNEMONIC }}
          ALCHEMY_TOKEN: ${{ secrets.ALCHEMY_TOKEN }}
